In [42]:
import csv
import pandas as pd
import matplotlib.pyplot as plt
import requests
import json
import gmaps
from pprint import pprint
from us import states



salesdatabymodel = pd.read_excel('Datasets/SalesByModel_Updated4.6.xlsx')

salesdatabymodel = salesdatabymodel.fillna(0)
salesdatabymodel.head()

,Maker,Model,Type,1999,2000,2001,2002,2003,2004,2005,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Acura,MDX,HEV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1807.0
1,Acura,RLX,HEV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,133.0,250.0,199.0,292.0
2,Acura,NSX,HEV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,267.0,581.0
3,Acura,ILX,HEV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,972.0,1461.0,379.0,22.0,1.0,0.0
4,Audi,Q5 Hybrid,HEV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,270.0,854.0,283.0,97.0,18.0,0.0

In [50]:

testDF = salesdatabymodel.groupby(['Type','Maker','Model']).mean()

testDF = testDF.stack()

testDF.head(100)
testDF.index.set_names('Years',level=len(testDF.index.names)-1, inplace=True)
testDF =testDF.reset_index().rename(columns={0:'Sales'})
testDF.head()

  Type  Maker Model  Years  Sales
0  HEV  Acura   ILX   1999    0.0
1  HEV  Acura   ILX   2000    0.0
2  HEV  Acura   ILX   2001    0.0
3  HEV  Acura   ILX   2002    0.0
4  HEV  Acura   ILX   2003    0.0

In [49]:
#testDF.to_csv('Datasets\ModelYearPivot1.csv')