In [4]:
import csv
import pandas as pd
import matplotlib.pyplot as plt
import requests
import json
import gmaps
from pprint import pprint
from us import states


gmaps_api = 'AIzaSyATqobtGQXrLENTJ70_23O5q95oUSCuGT0'

stationsDF = pd.read_csv('Datasets\Elec_StationsbyState_Year.csv',index_col = 0)
stationsDF.head()

  Date_Opened Access_Type        Lat        Lng State
0  2011-03-15      public  33.394903 -86.807186    AL
1  2011-03-15      public  30.660697 -87.858464    AL
2  2011-03-15      public  34.563857 -86.972193    AL
3  2011-03-15      public  32.377023 -86.208535    AL
4  2012-01-31      public  34.290864 -86.244855    AL

In [16]:
Date = []
for n in stationsDF['Date_Opened']:
    Date.append(n[:-6])


stations_years = pd.DataFrame({"Date":Date, "Lat":stationsDF['Lat'],'Lng':stationsDF['Lng']})
    

stations_years.head()

   Date        Lat        Lng
0  2011  33.394903 -86.807186
1  2011  30.660697 -87.858464
2  2011  34.563857 -86.972193
3  2011  32.377023 -86.208535
4  2012  34.290864 -86.244855

In [19]:
gmaps.configure(api_key=gmaps_api)

locations = stations_years[['Lat','Lng']].astype(float)
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations)
heat_layer.dissipating = False
heat_layer.max_intensity = 100
heat_layer.point_radius = 1
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))